* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle at top, #0ff, #000 60%);
    color: white;
    min-height: 100vh;
}

/* Header */
header {
    text-align: center;
    padding: 20px;
    background: black;
    box-shadow: 0 0 20px #00f6ff;
}

header h1 {
    color: #00f6ff;
    text-shadow: 0 0 10px #00f6ff;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 25px;
}

/* Cards */
.card {
    width: 100%;
    max-width: 420px;
    background: #050505;
    border: 1px solid #00f6ff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 25px rgba(0,246,255,0.4);
}

/* Gold rate */
.gold-rate {
    color: gold;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Up & Down */
.up {
    color: #22c55e;
    font-weight: bold;
}

.down {
    color: #ef4444;
    font-weight: bold;
}

/* Calculator */
.calculator input {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.calculator button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #00f6ff;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

.calculator button:hover {
    background: #0ff;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    opacity: 0.7;
}